
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;

}

.navSection{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(94, 71, 186);
    color: white;
    padding: 0 20px;
    font-size: large;
}

.sideBarSection{
    width: 100%;
    max-width: 15%;
    height: 86vh;
    padding-top: 10px;
    background-color: lightgray;

}
.sideBarSection ul li {
    list-style: none;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: medium;
    cursor: pointer;
}
.collectionSection{
    display: flex;
}

/* Login Section */

.loginSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registerSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.authForm{
    width: 100%;
    max-width: 50%;
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -100px;
    
}
.authForm input {
    width: 100%;
    max-width: 55%;
    height: 1.5rem;
}
.authForm label {
    width: 100%;
    max-width: 55%;
    font-weight: 400;
}

/* firm section add firm */

.firmSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.tableForm{
    width: 100%;
    max-width: 50%;
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

.tableForm input {
    width: 100%;
    max-width: 85%;
    height: 40px;
    margin-bottom: 8px;
}
.tableForm label {
    width: 100%;
    max-width: 85%;
    font-weight: 600;

}

/* checkbox inputs */

.checkInp{
    width: 100%;
    max-width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.checkInp label {
    width: 20%;
    
}
.inputsContainer{
    width: 100%;
    display: flex;
}
.checkboxContainer{
    width: 100%;
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.checkboxContainer label{
    width: 100%;
}
.checkboxContainer input {
    margin-left: -180px;
}
.checkboxContainerreg{
    width: 100%;
    max-width: 90%;
}

/* check Inp for region */

.checkInpReg {
    display: flex;
    
    width: 100%;
    max-width: 85%;
    justify-content: center;
    align-items: center;
}
.checkInpReg label {
    
    width: 100%;
    max-width: 10%;
}
.inputsContainerreg{
    display: flex;
    width: 100%;
    margin-left: 50px;
}
.checkboxContainerreg{
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.checkboxContainerreg label{
    width: 100%;
    font-size: 11px;
    font-weight: 700;
    margin-right: 15px;
}
